---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Impressum">
	<div class="h-[7rem] w-full"></div>

    <main class="max-w-5xl mx-auto">
        <h1>Impressum</h1>
        <article class="pb-24">
            Oliver Dillenkofer <br />
            Herrsteiner Straße 11 <br />
            55758 Mörschied <br />
            E-Mail: o.dillenkofer@t-online.de
            <br>
            <br>
            <p>
                <span class="font-semibold text-white">Haftung für Inhalte</span><br />
                Die Inhalte unserer Seiten wurden mit größter Sorgfalt erstellt. Für
                die Richtigkeit, Vollständigkeit und Aktualität der Inhalte können wir
                jedoch keine Gewähr übernehmen. Als Diensteanbieter sind wir gemäß §
                7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen
                Gesetzen verantwortlich. Nach § 8 bis 10 TMG sind wir als Diensteanbieter
                jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen
                zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige
                Tätigkeit hinweisen. Verpflichtungen zur Entfernung oder Sperrung der
                Nutzung von Informationen nach den allgemeinen Gesetzen bleiben hiervon
                unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt
                der Kenntnis einer konkreten Rechtsverletzung möglich. Bei bekannt werden
                von entsprechenden Rechtsverletzungen werden wir diese Inhalte umgehend
                entfernen.<br /><br />
            </p>

            <p>
                <span class="font-semibold text-white">Datenschutz</span><br />
                Soweit auf unseren Seiten personenbezogene Daten (beispielsweise Name,
                Anschrift oder eMail-Adressen) erhoben werden, erfolgt dies soweit möglich
                stets auf freiwilliger Basis. Die Nutzung der Angebote und Dienste ist,
                soweit möglich, stets ohne Angabe personenbezogener Daten möglich. Wir
                weisen darauf hin, dass die Datenübertragung im Internet (z.B. bei der
                Kommunikation per E-Mail) Sicherheitslücken aufweisen kann. Ein lückenloser
                Schutz der Daten vor dem Zugriff durch Dritte ist nicht möglich. Der
                Nutzung von im Rahmen der Impressumspflicht veröffentlichten Kontaktdaten
                durch Dritte zur Übersendung von nicht ausdrücklich angeforderter Werbung
                und Informationsmaterialien wird hiermit ausdrücklich widersprochen.
                Die Betreiber der Seiten behalten sich ausdrücklich rechtliche Schritte
                im Falle der unverlangten Zusendung von Werbeinformationen, etwa durch
                Spam-Mails, vor.<br /><br />
            </p>

            <p>
                <span class="font-semibold text-white">Haftung für Links</span><br />
                Unser Angebot enthält Links zu externen Webseiten Dritter, auf deren
                Inhalte wir keinen Einfluss haben. Deshalb können wir für diese fremden
                Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten
                Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich.
                Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche
                Rechtsverstöße überprüft. Rechtswidrige Inhalte waren zum Zeitpunkt der
                Verlinkung nicht erkennbar. Eine permanente inhaltliche Kontrolle der
                verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung
                nicht zumutbar. Bei bekannt werden von Rechtsverletzungen werden wir
                derartige Links umgehend entfernen.<br /><br />
            </p>

            <p>
                <span class="font-semibold text-white">Urheberrecht</span><br />
                Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen
                Seiten unterliegen dem deutschen Urheberrecht. Beiträge Dritter sind
                als solche gekennzeichnet. Die Vervielfältigung, Bearbeitung, Verbreitung
                und jede Art der Verwertung außerhalb der Grenzen des Urheberrechtes
                bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Ersteller.
                Downloads und Kopien dieser Seite sind nur für den privaten, nicht kommerziellen
                Gebrauch gestattet.
            </p>
        </article>
    </main>
</MainLayout>