---
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Layout from "../layouts/MainLayout.astro";
---

<Layout title={SITE_TITLE}>
	<section class="flex items-center">
		<div class="max-w-5xl mx-auto">
			<h1 id="title" class="text-white text-center font-medium">FADING HILLS</h1>
			<h5 class="text-white opacity-80 text-center">Deine Alternatie Rock Band</h5>
		</div>
	</section>
</Layout>

<style>
	section {
		background: url("/background.jpg");
		background-size: cover;
		background-position: center;
		height: 100dvh;
	}

	#title {
		text-shadow: 0 0 100px rgba(255, 255, 255, .7);
	}
</style>