---
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Layout from "../layouts/MainLayout.astro";
---

<Layout title="Fading Hills - Die Alternative Rock Band">
	<section id="landing-section" class="flex items-center border-b border-neutral-800">
		<div class="max-w-5xl mx-auto px-5">
			<div class="flex flex-col items-center">
				<h1 id="title" class="text-white text-center font-medium">FADING HILLS</h1>
				<h5 class="text-white opacity-80 text-center text-balance">
					Fading Hills verbinden Gitarrenriffs mit melodischem Gesang und
					sind im breiten Feld des Alternative Rock zu Hause. Zwischen hell und
					dunkel, laut und leise, sind es die feinen Nuancen dazwischen, welche
					die Band musikalisch transportiert.
				</h5>
				<a 
					href="https://www.instagram.com/fadinghills_official/"
					target="_blank"
					class="mt-8 inline-flex items-center justify-center outline-none ring-offset-2 ring-offset-stone-900 transition-[background-color,color,filter,transform,border-color] duration-150 ease-out-quad focus-visible:ring-2 active:scale-[0.975] disabled:cursor-not-allowed disabled:opacity-40 bg-stone-50 font-medium text-stone-950 shadow-[0px_-1px_0px_1px_rgba(0,0,0,0.2)_inset] ring-stone-50 hover:bg-white h-12 gap-2 rounded-lg px-5">
					Folge uns!
				</a>
			</div>
		</div>
	</section>

	<section class="pb-20">
		<div class="max-w-5xl mx-auto px-5 flex flex-col items-center">
			<h3 class="text-center mt-10">Hör doch mal rein! ⬇️</h3>
			<iframe class="" width="480" height="540" src="https://www.youtube.com/embed/lGkhAXvotOU" title="🔥Auf Anfang! Festival mit Fading Hills | 25./26.7.2025 #shorts" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
		</div>
	</section>
</Layout>

<style>
	#landing-section {
		background: url("/background.jpg");
		background-size: cover;
		background-position: center;
		height: 100dvh;
	}

	@media (max-width: 425px) {
		#landing-section {
			background-size: 160%;
			background-repeat: no-repeat;
			background-position: top;
			/* margin-top: 7rem; */
		}

		#landing-section > div {
			margin-top: 10rem;
		}
	}

	#title {
		text-shadow: 0 0 100px rgba(255, 255, 255, .7);
	}
</style>