---
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Layout from "../layouts/MainLayout.astro";
---

<Layout title={SITE_TITLE}>
	<div class="h-[7rem] w-full"></div>
	<main class="max-w-5xl mx-auto">

		<h1 class="tracking-tight">Unsere Bandmitglieder</h1>

	</main>
</Layout>
