---
import { Image } from 'astro:assets';
import { ArrowLeft } from "@lucide/astro";
import { Link } from 'astro-link';
import Layout from "../layouts/MainLayout.astro";

import imgNils from '../../public/member/nils.jpg';
import imgOliver from '../../public/member/oliver.jpg';
import imgAlex from '../../public/member/alex.jpg';
import imgFabian from '../../public/member/fabian.jpg';
---

<Layout title="Fading Hills - Mitglieder">
	<main class="max-w-5xl mx-auto mb-10">

		<div class="w-full flex justify-center mt-12">
            <Link href="/" class="text-muted-foreground flex items-center gap-2 text-base hover:text-white hover:underline">
                <ArrowLeft size={20}/>
                Zurück zur Startseite
            </Link>
        </div>

		<h1 class="tracking-tight text-center mt-8">Unsere Bandmitglieder</h1>

		<div class="flex flex-wrap justify-center gap-y-5 gap-x-10">
			<div class="flex flex-col items-center">
				<Image src={imgNils} alt="Nils" width={400} class="rounded-xl" />
				<h4 class="mt-2">Nils Stoppelbein</h4>
				<ul class="list-disc">
					<li>Vocal</li>
					<li>Guitar</li>
				</ul>
			</div>

			<div class="flex flex-col items-center">
				<Image src={imgOliver} alt="Oliver" width={400} class="rounded-xl" />
				<h4 class="mt-2">Oliver Dillenkofer</h4>
				<ul class="list-disc">
					<li>Guitar</li>
					<li>Backing Vocals</li>
				</ul>
			</div>

			<div class="flex flex-col items-center">
				<Image src={imgAlex} alt="Alexander" width={400} class="rounded-xl" />
				<h4 class="mt-2">Alexander Linss</h4>
				<ul class="list-disc">
					<li>Bass</li>
					<li>Backing Vocals</li>
				</ul>
			</div>

			<div class="flex flex-col items-center">
				<Image src={imgFabian} alt="Fabian" width={400} class="rounded-xl" />
				<h4 class="mt-2">Fabian Krieger</h4>
				<ul class="list-disc">
					<li>Drums</li>
					<li>Backing Vocals</li>
				</ul>
			</div>
			
		</div>
	</main>
</Layout>
