---
import { Image } from 'astro:assets';
import Layout from '../layouts/MainLayout.astro';
import { Link } from 'astro-link';
import { ArrowLeft } from "@lucide/astro";

import shirt from '../../public/shop/tshirts.jpg'
---

<Layout title="Shop | Fading Hills">
    <main class="max-w-5xl mx-auto mb-10">

        <div class="w-full flex justify-center mt-12">
            <Link href="/" class="text-muted-foreground flex items-center gap-2 text-base hover:text-white hover:underline">
                <ArrowLeft size={20}/>
                Zurück zur Startseite
            </Link>
        </div>

        <h1 class="tracking-tight text-center mt-8">Shop</h1>

        <div class="flex flex-col items-center">
            <Image src={shirt} alt="Placeholder" width={400} class="rounded-xl" />
            <p class="mt-2">
                Band Tshirt <br />
                <b>24,99€</b>
            </p>
        </div>

        <p class="text-center mt-5">
            Bei Interesse, wende dich gerne an ein Bandmitglied, <br />
            oder schreibe uns eine Direktnachricht.
        </p>

    </main>
</Layout>