---
const today = new Date();
---

<footer class="text-neutral-300 text-sm py-2 border-t border-neutral-700">
	<div class="max-w-5xl mx-auto flex justify-between">
		<span>&copy; {today.getFullYear()} Fading-Hills. All rights reserved.</span>
		<a href="/imprint">Impressum</a>
	</div>
	
</footer>

