---
const today = new Date();
---

<footer class="text-neutral-500 text-sm py-2 border-t border-neutral-900 px-5">
	<div class="max-w-5xl mx-auto flex justify-between">
		<span>&copy; {today.getFullYear()} Fading-Hills. All rights reserved.</span>
		<a href="/imprint" class="hover:text-neutral-200 transition-colors">Impressum</a>
	</div>
</footer>

