---
import HeaderLink from './HeaderLink.astro';
import Logo from "../../public/logo.svg";
---

<nav class="fixed z-50 flex w-full items-center justify-center px-2 py-4">
	<div class="relative flex w-full max-w-5xl flex-col items-center rounded-xl border border-[rgba(255,255,255,.15)] bg-rgba(255,255,255,.01)] p-4 lg:flex-row backdrop-blur-sm">
		<!-- <div class="absolute inset-0 -z-10 rounded-xl" style="backdrop-filter:blur(4px);-webkit-backdrop-filter:blur(4px)"></div> -->
		<div class="relative flex h-8 w-full items-center justify-between gap-5 pl-1 lg:flex-row">
			<a href="/"><img src={Logo.src} alt="Logo" class="h-11" /></a>
			<div class="flex gap-3">
				<HeaderLink href="/blog">Blog</HeaderLink>
				<HeaderLink href="/member">Mitglieder</HeaderLink>
				<HeaderLink href="/shop">Shop</HeaderLink>
			</div>
		</div>
	</div>
</nav>

<style>
	@media (max-width: 425px) {
		#header-wrapper {
			/* height: 3.5rem; */
		}

		#header-wrapper nav {
			padding: 0.4rem 1.5rem;
		}

		#header-wrapper nav a img {
			height: 2.25rem;
		}
	}
</style>