---
import HeaderLink from './HeaderLink.astro';
import Logo from "../../public/logo.svg";
---

<header class="fixed top-4 left-4 right-4 bg-[rgba(255,255,255,.01)] outline outline-1 outline-[rgba(255,255,255,.15)] backdrop-blur-sm rounded-xl">
	<nav class="flex items-center justify-between px-6 py-4">
		<a href="/"><img src={Logo.src} alt="Logo" class="h-11" /></a>
		<div class="flex gap-3">
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/member">Mitglieder</HeaderLink>
		</div>
	</nav>
</header>
