---
import type { CollectionEntry } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';
import Layout from './MainLayout.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---
<Layout title='Blog Post'>
	<div class="h-[7rem] w-full"></div>

	<main class="max-w-5xl mx-auto">
		<article>
			<div class="hero-image">
				{heroImage && <img width={1020} height={510} src={heroImage} alt="" class="rounded-xl" />}
			</div>
			<div class="max-w-4xl mx-auto">
				<div class="mt-4">
					<div class="">
						<FormattedDate date={pubDate} />
						{
							updatedDate && (
								<div class="last-updated-on">
									Last updated on <FormattedDate date={updatedDate} />
								</div>
							)
						}
					</div>
					<h1>{title}</h1>
					<hr class="border-neutral-700 mb-2" />
				</div>
				<slot />
			</div>
		</article>
	</main>
</Layout>
